[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-countries = '*'
psycopg2-binary = "==2.9.3"
django_filter = "*"
djangorestframework = "*"
celery = "*"
redis = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
